
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/index.js
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/index.d.ts
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/package.json
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/query-engine-windows.exe
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/runtime/index.js
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/runtime/index.d.ts
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/schema.prisma
back-end/prisma/Studio/-Projects-Bibliko-Stock_Project-back-end/runtime/index.js.map
